@model TSearch.ViewModels.CreateAdvertViewModel


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Create", "Bulletin"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Ad.Text)
        @Html.TextAreaFor(m => m.Ad.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ad.Text, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.SelectedCharacterId, new SelectList(Model.OwnedCharactersList, "Id", "CharacterName"), "Select Character", new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ad.MinLevel)
        @Html.TextBoxFor(m => m.Ad.MinLevel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ad.MinLevel, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ad.MaxLevel)
        @Html.TextBoxFor(m => m.Ad.MaxLevel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ad.MaxLevel, "", new { @class = "text-danger" })
    </div>


    <button type="submit" class="btn btn-outline-primary">Save</button>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
