@model TSearch.DTO.AdvertDTO


<div class="jumbotron">
    <h1 class="display-3">@Model.GameCharacter.CharacterName (@Model.GameCharacter.Level @Model.GameCharacter.Vocation) - @Model.GameCharacter.World</h1>
    <p class="lead">@Model.Text</p>
    <hr class="my-4">
</div>
